name: Build and Push Custom Presidio Analyzer

on:
  push:
    branches:
      - main
    paths:
      - 'presidio-analyzer/**'
      - '.github/workflows/build-presidio.yml'
  workflow_dispatch:

permissions: read-all

env:
  IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/presidio-analyzer-fr

jobs:
  get-version:
    name: Get Version Number
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.set-version.outputs.version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Extract version
        id: set-version
        run: |
          set -eu
          ver=$(grep -m 1 version presidio-analyzer/pyproject.toml | tr -s ' ' | tr -d '"' | tr -d "'" | cut -d' ' -f3)
          echo "version=$ver" >> $GITHUB_OUTPUT
          echo "Version: $ver"

  build-and-push:
    name: Build and Push Presidio Analyzer with French Support
    runs-on: ubuntu-latest
    needs: get-version
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=raw,value=${{ needs.get-version.outputs.version }}
            type=sha,prefix={{branch}}-

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./presidio-analyzer
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ env.IMAGE_NAME }}:buildcache
          cache-to: type=registry,ref=${{ env.IMAGE_NAME }}:buildcache,mode=max